.chat {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-between;
}

.messages {
    overflow-y: auto;
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.message {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.message-bubble {
    padding: 10px;
    border-radius: 8px;
    max-width: 80%;
    word-wrap: break-word;
}

.my-message {
    background-color: #DCF8C6;
    align-self: flex-end;
    margin-left: auto; /* Pushes my messages to the right */
}

.other-message {
    background-color: #EAEAEA;
    align-self: flex-start;
}

.input {
    display: flex;
    align-items: center;
}

.input .ql-container {
    flex: 1;
    margin-right: 10px;
}

.input button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    margin-bottom: 10px;
}

.disabled-button {
    opacity: 0.5; /* Reduced opacity */
    pointer-events: none; /* Disable pointer events */
}
